@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

#container {
  width: 0 auto;
  height: 0 auto;
  margin: 0px 625px 0px 625px;
  padding: 18px;
}

#title-chapter {
  width: 0 auto;
  height: 0 auto;
  margin: 8px 0px 4px 0px;
  padding: 0;
}

#font-style-1 {
  font-size: 16px;
  font-weight: 400;
}

#theme {
  margin: 2px 0px 4px 0px;
  padding: 0;
}

#font-style-2 {
  font-size: 26px;
  font-weight: 700;
}

#subtitles {
  margin: 6px 0px 10px 0px;
  padding: 0;
}

#font-style-3 {
  margin: 4px 0px 6px 0px;
  padding: 2px 0px 2px 0px;
  font-size: 14px;
  font-weight: 300;
}

#topic-box {
  margin: 0px 0px 12px 0px;
  padding: 1px 0px 4px 0px;
}

#topic-title {
  font-size: 22px;
  font-weight: 700;
  margin: 0px 0px 4px 0px;
  padding: 0;
}

#text {
  text-align: justify;
  text-justify: inter-word;
  font-weight: 400;
  font-size: 14px;
  padding: 2px 0px 2px 0px;
  margin: 6px 0px 4px 0px;
}

#author-text {
  font-size: 11px;
  font-weight: 900;
  text-align: center;
  margin: 8px 0px 8px 0px;
  padding: 4px 0px 4px 0px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #212529;
}
