@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

#container {
  width: 625px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px 16px 0px;
}

#title-chapter {
  font-size: 16px;
  font-weight: 400;
  margin: 8px 0px 4px 0px;
  padding: 0;
}

#title-theme {
  font-size: 26px;
  font-weight: 700;
  margin: 2px 0px 4px 0px;
  padding: 0;
}

#subtitles {
  margin: 7.5px 0px 7.5px 0px;
  padding: 0;
}

#font-style-3 {
  margin: 4px 0px 6px 0px;
  padding: 2px 0px 2px 0px;
  font-size: 14px;
  font-weight: 300;
}

#topic-box {
  margin: 0px 0px 12px 0px;
  padding: 1px 0px 4px 0px;
}

#topic-title {
  font-size: 22px;
  font-weight: 700;
  margin: 0px 0px 4px 0px;
  padding: 0;
}

#text {
  text-align: justify;
  text-justify: inter-word;
  font-weight: 400;
  font-size: 14px;
  padding: 2px 0px 2px 0px;
  margin: 6px 0px 4px 0px;
}

#author-text {
  width: 440px;
  font-size: 11px;
  font-weight: 900;
  text-align: center;
  margin: 8px 0px 8px 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 0px 4px 0px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #212529;
}

/* Responsividade */

@media (max-width: 650px) {
  #container {
    width: auto;
    padding: 20px 8px 16px 8px;
    margin: 0;
  }
}
